*{
    /*padding-fix*/
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding:0;
}
img{
    max-width:100%;
}
header, main, footer{

    min-height:10vh;
    border-bottom:1px solid #ddd;
    width:100%;
}

header nav ul li{

    width:100%;
    list-style-type: none;
    padding:2%;
    font-size:1.4rem;
    background: #505050;
    color:white;
    margin-bottom: 1px;;
    cursor:pointer;
}
header .top{
    display:flex;
    width:100%;
    font-size:2rem;
}
header  #logga{
    flex:10;
}
header #menuButton{
    font-size:4rem;
    cursor:pointer;
}


main img{
    width:100px;
}
main .content{
    padding:2%;
    font-size:1.3rem;
    width:100%;
    border:1px solid black;
}
main div{

    cursor:pointer;
}

main div a{
    color:#303030;
    font-size:inherit;
}
main div a:hover{
    color:#000;
    font-size:inherit;
}

.content div{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.content input, .content button{

    font-size:1.6rem;
    padding:2%;

}

footer{
    background: #ccc;
    text-align: center;
    
}
footer h2{
    font-size:4rem; 
    cursor: pointer;
}


@media(min-width:800px){

    main{display:flex;}

    nav ul{
        display:flex;
        text-align:center;
    }


}